.tokensale-root {
    @apply w-full grid grid-cols-1 grid-flow-row pb-4;

    .tokensale-header {
        @apply grid grid-cols-1 w-full justify-items-center items-center;

        > .tokensale-header-image {
            grid-row: 1;
            grid-column: 1;

            > img {
                @apply cg-border-xxl;
                width: min(1400px, 100%);
                max-width: min(1400px, 100%);
            }
        }

        > .tokensale-header-text {
            @apply text-center;
            grid-row: 1;
            grid-column: 1;
            color: rgba(246, 246, 246, 1);
            font-weight: 700;

            .tokensale-header-text-bottom {
                @apply cg-heading-1;
                color: #003045;
                text-align: center;
                text-shadow: 0px 0px 16.9px rgba(169, 226, 255, 0.50);
            }
        }
    }

    .tokensale-content {
        @apply grid grid-flow-row gap-6 justify-items-center items-center grid-cols-1;
        padding: 1rem;

        &.tokensale-content-card {
            @apply cg-border-xxl;
        }
    }
}

.desktop-layout {
    .tokensale-root {
        @apply gap-16;
        .tokensale-header-image {
            > img {
                @apply cg-border-xxl;
            }
        }

        .tokensale-header {
            margin-top: 1rem;
        }

        .tokensale-content {
            margin-left: auto;
            margin-right: auto;
            width: min(calc(100% - 2rem), calc(800px - 2rem));
            max-width: min(calc(100% - 2rem), calc(800px - 2rem));

            &.tokensale-content-card {
                @apply cg-border-xxl;
                outline: 0.5rem solid var(--surface-dark-overlay);
            }

            &.tokensale-content-card-top {
                @apply -mt-32;
            }
        }
    }
}

.mobile-layout {
    .tokensale-root {
        @apply gap-16 px-4;
        .tokensale-header-image {
            > img {
                width: 810px !important;
                max-width: 810px !important;
                height: 350px !important;
                max-height: 350px !important;
            }
        }

        .tokensale-header {
            .tokensale-header-text {
                .tokensale-header-text-bottom {
                    @apply cg-heading-3;
                }
            }
        }

        .tokensale-content {
            margin: 0.5rem 0 0;

            &.tokensale-content-card-top {
                @apply -mt-32;
            }
        }
    }
}

.tablet-layout {
    .tokensale-root {
        .tokensale-header {
            .tokensale-header-text {
                .tokensale-header-text-bottom {
                    @apply cg-heading-3 !important;
                }
            }
        }
    }
}
